$primary: #e85c54;

$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
  10: 10px,
);

$font-family-sans-serif: Lato, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

@import '../node_modules/bootstrap/scss/bootstrap';
