/*@import 'cssReset';*/
@import 'font';
@import 'customBS';

.wrapper {
  min-width: 280px;
  min-height: 340px;
  height: 100vh;
  width: 100vw;
  @media (min-width: 600px) and (min-height: 400px) {
    width: 80%;
    height: 80%;
    max-width: 800px;
    max-height: 600px;
    margin: auto;
  }
}

.current {
  background-color: $light;
}

.game-row-1 {
  height: 15%;
}
.game-row-2 {
  height: 15%;
}

.game-row-3 {
  height: 30%;
}
.game-row-4 {
  height: 50px;
}
.game-row-5 {
  height: calc(35% - 50px);
}

.player-global-score {
  font-size: 80px;
}
.current-score-box {
  width: 110px;
  height: 80px;
}

#player1.current h2::after,
#player2.current h2::after {
  content: '\f287';
  display: inline-block;
  font-family: bootstrap-icons;
  font-size: 16px;
  padding-left: 10px;
}

button.action {
  border: none;
  background-color: transparent;
}
@media (hover: hover) {
  button.action:hover:not(:disabled) {
    color: $success;
    transform: scale(1.1, 1.1);
  }
}
